# The goal of this program is to pull data from Riot's API and run some analytics on the players in challenger league, namely: 

## *Champion picks of every current Challenger player (including their climb games) **from season start***

In [1]:
import pandas as pd
import os
import cassiopeia as cass
import requests
import random
from ratelimit import limits
import json
import datetime
pwd = os.getcwd()
pd.options.display.max_rows = 10
cass.set_riot_api_key("REDACTED")

key = 'REDACTED'

### Creating a list of all players currently in Challenger League, and their puuids

In [ ]:
challenger_league = cass.get_challenger_league(queue=cass.Queue.ranked_solo_fives, region="NA")

summoner_name = []

for item in challenger_league:
    summoner_name.append(item.summoner.name)

summoner_name

In [ ]:
summoner_puuid = []  

for item in summoner_name:
    bucket = cass.Summoner(name=item, region='NA')
    summoner_puuid.append(bucket.puuid)
    
summoner_puuid

## Now that I have a list of summoner names and puuids, I can pull match histories, and create useful lists that will be used later

In [ ]:
total_match_list = []

for item in summoner_name:
    bucket = cass.Summoner(name=item, region='NA')
    challenger_history = (cass.get_match_history(region=cass.data.Region.north_america,
                                             queue=cass.data.Queue.ranked_solo_fives, puuid=bucket.puuid,
                                             continent=cass.data.Continent.americas))
    total_match_list.append(challenger_history)


total_match_list

In [ ]:

champion_picks = []
data = []
matches = []

for position, match_list in enumerate(total_match_list):
    bucket = cass.Summoner(name=summoner_name[position], region='NA')
    for match in match_list:
        champion = match.participants[bucket].champion.name
        champion_picks.append(champion)
        matches.append(match)
        tup = (bucket.name, champion, match)
        data.append(tup)

champion_picks
data        
matches

In [ ]:
data.sort

data

In [7]:
dataframe = pd.DataFrame(data, columns= ['Summoner', 'Champion', 'Match'])

dataframe

         Summoner Champion                                    Match
0      Pinwinasio     Gwen  Match(id=4223625026, region='AMERICAS')
1      Pinwinasio     Gwen  Match(id=4223534316, region='AMERICAS')
2      Pinwinasio     Gwen  Match(id=4216116358, region='AMERICAS')
3      Pinwinasio     Gwen  Match(id=4216078229, region='AMERICAS')
4      Pinwinasio     Gwen  Match(id=4216063867, region='AMERICAS')
...           ...      ...                                      ...
5995  Aiden Yasuo    Yasuo  Match(id=4215339247, region='AMERICAS')
5996  Aiden Yasuo    Yasuo  Match(id=4215149080, region='AMERICAS')
5997  Aiden Yasuo    Yasuo  Match(id=4215126245, region='AMERICAS')
5998  Aiden Yasuo  Orianna  Match(id=4215160687, region='AMERICAS')
5999  Aiden Yasuo    Yasuo  Match(id=4215115382, region='AMERICAS')

[6000 rows x 3 columns]

## I have pulled matchlists, sorted them by summoner, and stored them into a data frame

### Now I can find which champions have the most picks, and test the things like:

#### "Most one trick", "Least one trick", "Highest Pick Rate for Climb", "Lowest Pick Rate for Climb" etc...

In [8]:
dataframe

dataframe_modified = dataframe.copy()

matches_set = set(matches)

match_count = len(matches_set)

match_count

2955

In [9]:
dataframe_modified.describe()

          Summoner Champion                                    Match
count         6000     6000                                     6000
unique         300      156                                     2955
top     Pinwinasio     Jinx  Match(id=4225982391, region='AMERICAS')
freq            20      198                                       10

# Most Picked Champions

In [10]:
from collections import Counter

In [11]:
champ_pick_num = Counter(elem[1] for elem in data)

sorted_10  = sorted(champ_pick_num, key=champ_pick_num.get, reverse=True)[:10]

sorted_10

for item in sorted_10:
    print(item + ": picked in " + str(100*((champ_pick_num[item]/(match_count))))  +"% of games\n")

Jinx: picked in 6.7005076142131985% of games

Graves: picked in 5.0761421319796955% of games

Ahri: picked in 5.042301184433164% of games

Zeri: picked in 4.636209813874789% of games

Aphelios: picked in 4.060913705583756% of games

Viego: picked in 4.0270727580372245% of games

Soraka: picked in 4.0270727580372245% of games

Jhin: picked in 3.9593908629441623% of games

Gwen: picked in 3.925549915397631% of games

Lee Sin: picked in 3.7563451776649748% of games

# Least Picked Champions 
##### *With at least one pick*

In [12]:
sorted_10_bottom  = sorted(champ_pick_num, key=champ_pick_num.get, reverse=False)[:10]

sorted_10_bottom

for item in sorted_10_bottom:
    print(item + ": picked in " + str(100*((champ_pick_num[item]/(match_count))))  +"% of games\n")

Anivia: picked in 0.0338409475465313% of games

Warwick: picked in 0.0338409475465313% of games

Annie: picked in 0.0338409475465313% of games

Skarner: picked in 0.0338409475465313% of games

Nasus: picked in 0.0338409475465313% of games

Rammus: picked in 0.0338409475465313% of games

Singed: picked in 0.0338409475465313% of games

Kled: picked in 0.0338409475465313% of games

Master Yi: picked in 0.0338409475465313% of games

Elise: picked in 0.0676818950930626% of games

# Champions Not Picked at All

In [13]:
picked_champs = sorted(champ_pick_num, key=champ_pick_num.get, reverse=False)

full_champ_list = []

list = cass.get_champions(region='NA')

for item in list:
    full_champ_list.append(item.name)

champions_not_picked = set(full_champ_list).difference(set(picked_champs))


print("These Champions were picked in 0 games:") 
for item in champions_not_picked:
    print('\n' + item)

These Champions were picked in 0 games:

Sivir

Taric

Yorick

# Most one-trick player

In [ ]:
picks_aggregated_to_summoner = {}

for name in summoner_name:
    history_list = []
    for tuple in data:
        if name == tuple[0]:
            history_list.append(tuple[1])
    picks_aggregated_to_summoner.update({(int(summoner_name.index(str(name)))):history_list})


picks_aggregated_to_summoner

In [ ]:


import statistics 

mode_tup_list = []
modes = []
most_one_trick = []


for key, list in picks_aggregated_to_summoner.items():
    mode_champion = statistics.mode(list)
    mode_value = list.count(mode_champion)
    pick_percentage = (mode_value / len(list)) * 100
    mode_tup_list.append((summoner_name[key], mode_champion, mode_value, pick_percentage))
    modes.append(int(round(pick_percentage)))



largest_one_trick_value = max(modes)

for i, mode, in enumerate(modes):
    if mode == largest_one_trick_value:
        location = i
        most_one_trick.append((summoner_name[location], mode_tup_list[location][1], largest_one_trick_value))

most_one_trick

[('Sakura Dinger', 'Heimerdinger', 100),
 ('Nikkone', 'Fiddlesticks', 100),
 ('LÃ¸gÃ¡n', 'Sion', 100),
 ('QuinnAD Daddy', 'Quinn', 100),
 ('twtv CitricLoL', 'Shyvana', 100),
 ('Mojo Jojo', 'Wukong', 100),
 ('MaIthaeI', 'Fiddlesticks', 100),
 ('KingArtLeywin', 'Riven', 100)]

# Least one-trick player

In [ ]:
least_one_trick = []

smallest_one_trick_value = min(modes)

for i, mode, in enumerate(modes):
    if mode == smallest_one_trick_value:
        location = i
        least_one_trick.append((summoner_name[location], mode_tup_list[location][1], smallest_one_trick_value))

least_one_trick

[('Competition9', 'Viktor', 10),
 ('From Iron', 'Seraphine', 10),
 ('Peruvian GAAP', 'Viktor', 10),
 ('NÃ¸ticeMeSenpai', 'Sylas', 10),
 ('yticanet001', 'Aatrox', 10)]

# Least Games Played

In [ ]:
games_played = []

for key, list in picks_aggregated_to_summoner.items():
    games_played.append(len(list))


min_games_played = min(games_played)
least_games_played = []

for i, game in enumerate(games_played):
    location = i
    if game == min_games_played:
        least_games_played.append((summoner_name[location], game))
        

least_games_played

# Most Games Played

In [ ]:
max_games_played = min(games_played)
most_games_played = []

for i, game in enumerate(games_played):
    location = i
    if game == max_games_played:
        most_games_played.append((summoner_name[location], game))
        

most_games_played